
.vs/Digital_Life_Server_jikewan/FileContentIndex/84f19e76-f49a-4717-bd07-909a39f6e22a.vsidx
.vs/Digital_Life_Server_jikewan/FileContentIndex/read.lock
.vs/Digital_Life_Server_jikewan/v17/Browse.VC.db
.vs/Digital_Life_Server_jikewan/v17/Browse.VC.db-shm
.vs/Digital_Life_Server_jikewan/v17/Browse.VC.db-wal
.vs/Digital_Life_Server_jikewan/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
